html {
	background-color: #000000;
	color: #ffffff;
	font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

a {
	text-decoration: none;
	color: #9090ff;
}

header {
    background: #555555;
    font-size: 2rem;
	padding: 1rem;
	display: flex;
}

header a {
	color: #000000;
}

main {
	padding: 1rem;
}

footer {
	padding: 1rem 0;
    background: #555555;
	text-align: center;
	position: fixed; /* 固定在页面底部 */
	bottom: 0; /* 底部对齐 */
	width: 100%; /* 宽度100% */
}

footer p {
    margin: 0; /* 移除默认的段落间距 */
}



.box {
    width: 200px; /* 盒子的宽度 */
    height: 125px; /* 盒子的高度 */
    background-color: #222222; /* 盒子的背景颜色 */
    color: white; /* 文字颜色 */
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    border: 2px solid #333; /* 边框 */
    border-radius: 10px; /* 边框圆角 */
    margin: 50px; /* 外边距 */
    padding: 20px; /* 内边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    transition: transform 0.3s ease; /* 平滑变换效果 */
}

.box:hover {
    transform: scale(1.05); /* 鼠标悬停时放大 */
}




/*以上  全局*/




.panel {
	border: 1px;
	border-color: rgb(127, 127, 127);
	border-style: solid;
}

.panel-title {
	border-color: rgb(127, 127, 127);
	text-align: center;
	font-size: 2rem;
	font-weight:bold;
}

.panel-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.panel-box {
	background-color: rgb(127, 127, 127);
	width: 10rem;
	margin: 1rem;
	min-height: 6rem;
	display: table;
}

.panel-box > a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
}
/*以上  主页*/



.panel-essay {
	border: 1px;
	border-color: rgb(127, 127, 127);
	border-style: solid;
	max-width: 64rem;
	margin: auto;
}

.panel-essay-title {
	background-color: rgb(127, 127, 127);
	text-align: center;
	font-size: 2rem;
	font-weight:bold;
}

.panel-essay-content {
	padding: 1rem;
}

.panel-essay-footer {
	background-color: rgb(127, 127, 127);
	text-align: center;
	font-size: 2rem;
	font-weight:bold;
}
/*以上  文章*/




heimu {
	color: #ffffff;
    text-shadow: none;
	background-color: #ffffff;
}

heimu:hover, heimu:active {
	color: #000000;
	transition: color 0.5s;
}

.command {
	background-color: #3f3f3f;
}

img {
	max-width: 100%;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 0.875em;
    color: #ffffff;
    background-color: #212121;
    border-radius: 0.2rem;
	font-family: monospace, 'Courier New', Courier ;
}
/*以上  特殊字符及其他*/




#timedemo {
	font-size: 2em;
	text-align:center;
}
